{% extends "_base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
  <h1>About Page</h1>
  <p>This django project was just to refresh my memory on a couple of things</p>
  <ul>
    <li>Setting up a django project, admin panel, models, views etc from scratch</li>
    <li>Use Docker and PostgresSQL locally and then deploy to Heroku</li>
    <li>Customize User permissions</li>
    <li>Add search and file/image uploads</li>
    <li>If I had more free time I would add a user panel with features..</li>
  </ul>
{% endblock content %}