body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

h1 {
    color: red;
}

img.comiccover {
    height: 300px;
    width: auto;
}

img.pages {
    height: 100%;
    width: 66%;
}

.center {
    text-align: center;
}

ul li {
    list-style-type:none;
}  